In [1]:
import networkx as nx
import pandas as pd

In [2]:
df = pd.read_csv("../../data/Location-Services/hierarchy.txt",sep="\t",header=0)
df.columns = ['parent','child','type']
df

          parent     child type
0        6295630   6255152  ADM
1        6295630   6255147  ADM
2        6295630   6255148  ADM
3        6295630   6255149  ADM
4        6295630   6255151  ADM
...          ...       ...  ...
512579  13100072   3333160  NaN
512580  13100211   4288057  NaN
512581   4289412  13100211  NaN
512582   5178053   5193451  NaN
512583   5193451   5193439  NaN

[512584 rows x 3 columns]

In [3]:
G = nx.DiGraph()

for index, row in df.iterrows():
    G.add_edge(row['parent'], row['child'])

In [4]:
from sentier_peakachu.location_utils import LocationUtility
lu = LocationUtility()
geoid = lu.geonameid_Lookup("DNK")

In [5]:
children = G.successors(int(geoid))
for item in children:
    print(item)

adults = list(G.predecessors(int(geoid)))
print(adults)

6418538
6418539
6418540
6418541
6418542
3425505
2622320
[6255148, 12217933, 7729883, 6695072, 2614165, 2616167, 12503661]