In [1]:
import sentier_data_tools as sdt
import sentier_peakachu as sp
from datetime import date

# sp.create_local_datastorage()

In [2]:
el_from_gas = sdt.ProductIRI("https://example.com/electricity_from_gas")
poland = sdt.GeonamesIRI("https://example.com/locations/ARE")
demand = sdt.Demand(
    product_iri=el_from_gas,
    unit_iri=sdt.UnitIRI("https://vocab.sentier.dev/units/unit/KiloGM"),
    amount=10,
    spatial_context=poland,
    begin_date=date(2023, 1, 1),
    end_date=date(2024, 1, 1),
)
demand

Demand(unit_iri=<https://vocab.sentier.dev/units/unit/KiloGM>: kilogram (unit), amount=10.0, spatial_context=GeonamesIRI('https://example.com/locations/ARE'), properties=None, begin_date=datetime.date(2023, 1, 1), end_date=datetime.date(2024, 1, 1), product_iri=<https://example.com/electricity_from_gas>: Missing label (product))

In [3]:
model = sp.ElectricityModel(demand=demand, run_config=sdt.RunConfig())

In [4]:
model.get_generation_mix()

,https://example.com/identifier,https://example.com/name,https://example.com/units/start_time,https://example.com/units/end_time,https://example.com/powergeneration,https://example.com/emissions
0,25450148,<unknown plant name>,2019-01-01 00:00:00,2019-12-31 00:00:00,573000,466000.0
1,25450148,<unknown plant name>,2020-01-01 00:00:00,2020-12-31 00:00:00,534000,434000.0
2,25450148,<unknown plant name>,2021-01-01 00:00:00,2021-12-31 00:00:00,534000,434000.0
3,25450148,<unknown plant name>,2022-01-01 00:00:00,2022-12-31 00:00:00,534000,434000.0
4,25450149,<unknown plant name>,2019-01-01 00:00:00,2019-12-31 00:00:00,796000,647000.0
...,...,...,...,...,...,...
102,25455539,Zirku ADMA-OPCO power station,2022-01-01 00:00:00,2022-12-31 00:00:00,1275000,1036000.0
103,25455783,<unknown plant name>,2019-01-01 00:00:00,2019-12-31 00:00:00,4092000,2376000.0
104,25455783,<unknown plant name>,2020-01-01 00:00:00,2020-12-31 00:00:00,3809000,2211000.0
105,25455783,<unknown plant name>,2021-01-01 00:00:00,2021-12-31 00:00:00,6280000,3646000.0
106,25455783,<unknown plant name>,2022-01-01 00:00:00,2022-12-31 00:00:00,6280000,3646000.0