In [37]:
import pandas as pd
import sentier_data_tools as sdt
import sys, os, io

path = r"C:\Users\misc\Documents\DdS\power2\DATA\electricity-generation_emissions_sources.xlsx"

In [38]:
trace_frame = pd.read_excel(path,"electricity-generation_emission").set_index("source_id")

In [39]:
fuel_types = ["oil","gas","other_fossil","coal","biomass","waste"]

In [40]:
cols_to_keep = ["source_name","source_type","iso3_country","start_time","end_time","activity","activity_units","emissions_factor","emissions_factor_units","capacity","capacity_units","capacity_factor","other2","other3","other4"]

for country:

    for fueltype:

        df = trace.filter(country + fuel)

        multindex time_to time_from plant_iri | co2 | ch4 | nox | activity | capacity 


country generator:

https://www.geonames.org/countries/(ISO2)/(Country.tolower).html

url = r"https://www.geonames.org/countries/" + row.ISO2 + r"/" + row.Country.to_lower() + r".html"

In [41]:
country_lookup : dict[str, str] = {}
country_codes = []
country_list = pd.read_excel(r"C:\Users\misc\Documents\DdS\iso_countries.xlsx")

In [42]:
for row in country_list.itertuples(index=True):
    url = r"https://www.geonames.org/countries/" + str(row.ISO2) + r"/" + str(row.Country.lower().replace(" ", "-").replace(",","")) + r".html"
    country_lookup[row.ISO3] = url
    country_codes.append(row.ISO3)

In [54]:
big_list: list[pd.DataFrame] = []

for fuel in fuel_types:
    for country in country_codes:
        filtered_df = trace_frame.loc[(trace_frame["source_type"] == fuel) & (trace_frame["iso3_country"] == country)]
        if filtered_df.__len__() > 0:
            reshaped_df = filtered_df[["start_time", "iso3_country", "end_time","activity","capacity","gas","emissions_quantity"]]
            big_list.append(reshaped_df)

In [55]:
big_list[1]

,start_time,iso3_country,end_time,activity,capacity,gas,emissions_quantity
source_id,,,,,,,
25450184,2019-01-01,ARG,2019-12-31,77000,140,ch4,NaN
25450184,2019-01-01,ARG,2019-12-31,77000,140,co2,58000.0
25450184,2019-01-01,ARG,2019-12-31,77000,140,co2e_100yr,58000.0
25450184,2019-01-01,ARG,2019-12-31,77000,140,co2e_20yr,58000.0
25450184,2019-01-01,ARG,2019-12-31,77000,140,n2o,NaN
...,...,...,...,...,...,...,...
25454756,2022-01-01,ARG,2022-12-31,19000,15,ch4,NaN
25454756,2022-01-01,ARG,2022-12-31,19000,15,co2,14000.0
25454756,2022-01-01,ARG,2022-12-31,19000,15,co2e_100yr,14000.0
25454756,2022-01-01,ARG,2022-12-31,19000,15,co2e_20yr,14000.0
25454756,2022-01-01,ARG,2022-12-31,19000,15,n2o,NaN